#title-container {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 10vh;
    width: 100vw;
    border: solid black;
    font-weight: bold;
    font-size: 2.8rem;
    background-color: lightsteelblue;
}

#operations-container {
    display: flex;
    position: relative;
    height: 8vh;
    width: 100vw;
    border: solid black;
    background-color: lightskyblue;
}

#tasks-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    position: relative;
    height: 80vh;
    width: 100vw;

}